@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-transform: capitalize;
}
body {
  scroll-behavior: smooth;
}
.paddings {
  @apply px-3 sm:px-5 md:px-16 lg:px-24;
}
.effect {
  height: 120px;
  width: 160px;
  background: #ff5555;
  border-radius: 100%;
  opacity: 1;
  filter: drop-shadow(0px 0px 50px #ff5555);
  filter: blur(20px);
}
.section {
  @apply w-full h-screen flex flex-col md:flex-row-reverse md:justify-between gap-3 justify-around items-center relative;
}

.eclipse {
  @apply md:h-96 md:w-64 h-72 w-44 border border-black rounded-[130%] absolute;
}
